h6 { 
    font-size: 18px;
    margin-right: 10px;
    margin-top: 10px;
}

.listings-container { 
    margin: 120px 60px 200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.product-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 270px;
    width: 270px;
    border: 1px solid rgb(224, 219, 219);
    background-color: white;
    border-radius: 3px;
    margin: 20px;
}

.listing-pic { 
    height: 100%;
    width: 100%;
    /* background-color: white; */
}

 #bottombox { 
    padding: 10px;
 }

 #bottombox-left, #bottombox-right { 
    display: flex;
 }

#bottombox-left { 
    justify-content: space-between;
}

#bottombox-right { 
    justify-content: center;
}

#listing-price { 
    margin-top: 4px;
    text-align: center;
}

#listing-title { 
    background-color: rgb(235, 232, 232);
    width: 100%;
}

#test-img { 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#index-title { 
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    color: black
}

#index-title:visited { 
    color: inherit;
}

#index-img { 
    height: 100%;
    width: 100%
}