h6 { 
    font-size: 18px;
    margin-right: 10px;
    margin-top: 10px;
}

.listings-container { 
    margin: 120px 60px 200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.product-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 270px;
    border: 3px solid rgb(224, 219, 219);
    background-color: white;
    border-radius: 9px;
    margin: 20px;
    transition: all ease-in 500ms;
}

.product-container:hover { 
    box-shadow: 0 10px 20px #cfcfcf;
}

.listing-pic { 
    height: 80%;
    width: 100%;
    /* background-color: white; */
}

 #bottombox { 
    padding: 10px;
 }

 #bottombox-left, #bottombox-right { 
    display: flex;
 }

#bottombox-left { 
    justify-content: space-between;
}

#bottombox-right { 
    justify-content: center;
}

#listing-price { 
    margin-top: 4px;
    text-align: center;
}

#listing-title { 
    background-color: rgb(235, 232, 232);
    width: 100%;
    height: 20%;
    border: 1px solid rgb(224, 219, 219);
        /* background-color: white; */
    border-radius: 6px;
}

#test-img { 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#index-title { 
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    color: black
}

#index-title:visited { 
    color: inherit;
}

#index-img { 
    height: 100%;
    width: 100%;
    
}

#up { 
    color: rgb(1 99 62);
    /* font-size: 20px; */
}

#down { 
    color: rgb(204, 21, 21)
}