.show-container { 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 120px;
    width: 60vw;
    height: 60vh;
    border: 1px solid lightgray;
}

h1 { 
    font-size: 36px;
    font-family: proxima-nova, sans-serif;
}

.show-bottom { 
    display: flex;
}

.show-pic { 
    display: flex;
    flex-direction: column;
}

.show-information {
    margin-top: 20px;
    margin-right: 10px; 
    margin-left: 10px;
    width: 40%;
}

#show-img { 
    height: 400px;
    width: auto;
}
