.purchase-info { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%
}

.purchase-item-image,
.purchase-item-header {
    width: 150px;
    padding: 10px;
}

.purchase-item-image { 
    width: 150px
}

.purchase-item-header { 
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

.purchase-container > li {
    padding: 10px;
}

.purchase-container > h1 { 
    margin: 20px
}

.purchase-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(192, 192, 192);
    box-shadow: 0 10px 20px #cfcfcf;
    border-radius: 5px;
    background-color: white;
    width: 60vw;
    min-width: 700px;
    margin: 150px 200px 200px;
    font-family: proxima-nova, sans-serif;

}

.total-cost, 
.shipping-taxes,
.total { 
    display: flex;
    width: 600px;
    /* flex: space-evenly; */
    justify-content: center;
}

.total-cost > h4,
.shipping-taxes > h4,
.total > h4 {
    width: 200px;
    font-size: 24px;
    font-family: proxima-nova, sans-serif;
    padding: 5px;
}

#purchase-amount { 
    background-color: transparent;
    border: none;
    width: 100px;
}

#amount { 
    font-family: proxima-nova, sans-serif;
    font-size: 24px;
    margin: -20px;
}

#purchase-img { 
    width: 150px;
    height: auto;
    padding: 10px 20px;
}

#purchase-item-button { 
    border: none;
    background-color: transparent;
}

#checkout-button { 
    width: 95%;
    margin: 10px;
    background-color: rgb(50, 49, 49);
    color: white;
    transition: all ease-in 500ms;
}

#checkout-button:hover {
    background-color: rgb(1 99 62);
    color: whitesmoke;
}

#trash { 
    font-size: 28px;
    transition: all ease-in 300ms;
}

#trash:hover { 
    color: rgb(1 99 62);
    font-size: 30px
}

.purchase-item-price { 
    font-size: 24px;
    margin-left: 20px
}