.review-form { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
       
}

#star-icons { 
    display: flex;
    flex-direction: row;
}

input[type="radio"] { 
    display: none
}

.star { 
    cursor: pointer;
    transition: color 200ms;
    font-size: 28px;
}

#star-rater { 
    width: 30px;
}

#review-title { 
    font-size: 20px;
    padding: 5px
}

#textarea { 
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    background-color: #f8f6f6;
    padding: 10px;
    width: 300px;
    height: 100px;
    border: solid 0.5px lightgray;
    border-radius: 3px;
}

.review-create { 
    box-shadow: 0 10px 20px #cfcfcf;
}

#review-button { 
    width: 320px;
    margin: 10px;
    background-color: rgb(50, 49, 49);
    color: white;
}

#review-button { 
    transition: all ease-in 300ms;
}

#review-button:hover { 
    box-shadow: 0 10px 20px #cfcfcf;
}