.reviews-container {
    display: flex;
    flex-direction: column;
    margin: 20px 200px 150px;
    min-width: 900px;
    width: 60vw;
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    font-family: proxima-nova, sans-serif;

}

.rating-container { 
   margin: 20px;
   border: 1px solid rgb(134, 133, 133);
   background-color: white;
   border-radius: 5px;
   padding: 10px;
}

.star-rating { 
    display: flex;
    align-items: center;
    font-size: 22px;
}

.star-rating h4 { 
    margin: 5px
}

.review-head { 
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

/* .review-head > h1, 
.review-head > h4, 
.review-head > button { 
    margin-left: 20px;
} */

.user-rating > h4, 
.star-rating > h6, 
.text-rating > p {
    margin: 10px;
    
}
.star-rating > h6 { 
    font-size: 12px;
    margin-top: -10px;
}

.user-rating > h4 {
    font-size: 20px;
}

.text-rating > p { 
    font-size: 16px;
}

.user-rating { 
    display: flex;
}

.edit-rating { 
    display: flex;
}

.reviews-container { 
    margin-top: -100px;
}

#rating-button { 
    margin-right: 20px;
    margin-left: 10px;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    color: whitesmoke;
    background-color:rgb(35, 34, 34)
}

#create-review { 
    width: 300px;
    height: 45px;
    margin-right: 20px;
    background-color: rgb(50, 49, 49);
    color: white;
    transition: all ease-in 500ms;
    
}

#create-review:hover {
    background-color: rgb(1 99 62);
    color: whitesmoke;
}

#star-icon { 
    font-size: 28px;
}

#reviews-length { 
    font-size: 18px;
}
