.favorites-container { 
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    width: 60vw;
    min-width: 650px;
    border: 2px solid lightgrey;
    background-color: rgb(253, 251, 251);
    box-shadow: 0 10px 20px #cfcfcf;
    border-radius: 5px;
}
/* #favorites-container { 
    margin: 150px 200px;
} */

.favorites-header { 
    display: flex;
    justify-content: center;
    margin: 20px
}

#favorite-item { 
    list-style: none;

}

.favorites { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%
}

.purchase-info { 
    transition: all ease-in 500ms;
    display: flex;
    justify-content: center;
    /* width:500px; */
}

.purchase-info:hover { 
    box-shadow: 0 10px 20px #cfcfcf;
}

#favorite-favorite { 
    font-size: 24px;
    color: rgb(204, 21, 21);
    transition: all ease-in 500ms;
}

#purchase-cart { 
    border:none;
    background-color: transparent;
    font-size: 24px;
    transition: all ease-in 500ms;
}

#purchase-cart:hover, 
#favorite-favorite:hover { 
    font-size: 28px;

}

#purchase-page-price { 
    font-size: 20px;
}

#favorite-link:visited { 
    color: inherit
}

#favorite-link { 
    text-decoration: none;
}

#purachase-img { 
    margin: 10px 50px;
}

.backtofavorites { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#backbutton { 
    width: 90%;
    margin-bottom: 10px;
    transition: all ease-in 200ms;
    background-color: rgb(50, 49, 49);
    color: white;
    
}

#backbutton:hover { 
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

#backtofavorites { 
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 30px;
}
