#splash-links { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: rgb(74, 74, 74);
    margin: 0 20px;
    width: 130px;
    transition: all ease-in 500ms;
}

#splash-links:hover { 
  
    transform: translateX(-1px);
    transform: translateY(-1px);
    font-size: 20px;
    color: #2a4e49;
    cursor: pointer;
}

.splash-container { 
    margin-top: 100px;
    margin-bottom: -100px;
}

.product-type { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25px;
    margin: 30px 0;
    padding: 10px;
    background-color: rgb(232, 230, 230);
}


.jordan { 
    display: flex;
    justify-content: center;
    
}

.jordan img { 
    width: 90%;
}