#login-signup {
    color: lightgray;
    border-bottom: solid 1px lightgray;
    transition: all ease-in 500ms
}

#login-signup:hover {
    color: #2a4e49;
    border-bottom: solid 3px #2a4e49;
    ;
}