form { 
    display: flex;
    flex-direction: column;
    border: 2px solid #e0e0e0;
    background-color: white;
    border-radius: 4.5px;
    width: 400px; 
    align-items: center;
}

input { 
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    background-color: #f8f6f6;
    padding: 10px;
    width: 300px;
    border: solid 0.5px lightgrey;
    border-radius: 3px;;
}

label { 
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn { 
    width: 320px;
    margin: 5px;
    border-radius: 5px;
    background-color: black;
    color: lightgray
}

.form-container { 
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

.login-type { 
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

.login-type button { 
    border: none;
    background: none;
    font-size: 20px;
}

#demo-user { 
    margin-bottom: 20px;
}

