form { 
    display: flex;
    flex-direction: column;
    border: 2px solid #e0e0e0;
    background-color: white;
    border-radius: 4.5px;
    width: 400px; 
    align-items: center;
}

input { 
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    background-color: #f8f6f6;
    padding: 10px;
    width: 300px;
    border: solid 0.5px lightgrey;
    border-radius: 3px;;
}

label { 
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn { 
    width: 320px;
    margin: 5px;
    border-radius: 5px;
    background-color: black;
    color: lightgray;
    transition: all ease-in 500ms;
}

.login-btn { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-container { 
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

.login-type { 
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.login-type button { 
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 20px;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

#demo-user { 
    margin-bottom: 20px;
}

#demo-user:hover, #signup-user:hover { 
    background-color: #2a4e49;
    box-shadow: 0 10px 20px #838282;
}

#signup-login { 
    color: lightgray;
    border-bottom: solid 1px lightgray;
    transition: all ease-in 500ms
}

#signup-login:hover { 
    color: #2a4e49;
    border-bottom: solid 3px #2a4e49;;
}

#error-holder { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0 15px;
}

#login-error {
    color: red;
    font-family: proxima-nova, sans-serif;
    font-size: 15px;
    margin: 3px;
    padding: 2px;
}
    

