nav { 
    display: flex;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    border-bottom: 2px solid black;
    font-family: proxima-nova, sans-serif;

}

Link { 
    text-decoration: none;
    font-size: 14px;
}

NavLink { 
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
}

button {
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 5px;
}

.navbar { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#search-bar { 
    font-size: 14px;
    border-radius: 3px;
    width: 300px;
}

#login-button { 
    background-color: black;
    color: whitesmoke
}

#signup-button { 
    background-color: grey;
    color: white;
}

#browse-link, #about-link { 
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    transition: all ease-in 200ms;
}

#browse-link:hover, #about-link:hover { 
    transform: translateX(-1px);
    transform: translateY(-1px);
    cursor: pointer;
}

#stockx-logo { 
    padding-right: 30px;
}